<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JQuery Sortable</title>
  <style>
      #sortable img{ 
          height: 100px; 
      }
      #sortable{ 
          list-style-type: none; 
      }
      #sortable .item{
          padding: 5px;
          background-color: #dadada;
          margin-bottom: 5px;
          color: #000;
      }
  </style>
</head>
  <body>
      <!-- <ul id="sortable">
        <li class="item" ng-repeat="item in items">
          <p class="item" id="{{item.id}}" ng-bind="item.text"></p>
        </li>
      </ul> -->

      <div id="sortable">
          <div class="item" ng-repeat="item in items">
              <p class="item" id="{{item.id}}" ng-bind="item.text"></p>
          </div>  
      </div>  

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script type="text/javascript">
          angular.module('myApp', []).controller('myCtrl', function($scope){
              $scope.items = [
                  {id: 1, text:'Item with id = 1'},
                  {id: 2, text:'Item with id = 2'},
                  {id: 3, text:'Item with id = 3'},
                  {id: 4, text:'Item with id = 4'},
                  {id: 5, text:'Item with id = 5'}
              ];
              angular.element("#sortable").sortable({
                  stop: function( event, ui ) {
                      var dataToUpdate = [];      
                      var items = angular.element('p.item');
                      angular.forEach(items, function(item, index){
                          dataToUpdate.push({
                              index: index,
                              id: angular.element('p.item')[index].id
                          });
                      });
                      console.log(dataToUpdate);
                  }
              });
          });
      </script>
  </body>
</html>